@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="position-relative">
        <div class="position-absolute top-0 start-50 translate-middle col-4">
            <div id="cookieConsent" class="alert alert-dark alert-dismissible fade show" role="alert">
                <div class="row justify-content-between">
                    <div class="col-10">
                        <p>Denna sida använder cookies! <a asp-page="/Privacy">Läs mer</a>.</p>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-light mr-3 accept-policy close" data-bs-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                            <span aria-hidden="true">Accept</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        (function () {
            var button = document.querySelector('#cookieConsent button[data-cookie-string]');
            button.addEventListener('click',
                function (event) {
                    document.cookie = button.dataset.cookieString;
                }
                , false);
        })();
    </script>
}
