@page
@model SnackisWebApp.Pages.User.SendMessageModel
@{
}

<div class="container">
    <div class="row">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header text-center">
                    <h5 class="modal-title">New message</h5>
                    <p>@Model.StatusMessage</p>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <h5>To user:</h5>
                        @if (Model.ToUser.ProfileImg != null)
                        {
                            <img style="width: 150px; height: 150px; object-fit: cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ToUser.ProfileImg))">
                        }
                        else
                        {
                            <img style="width: 150px; height: 150px; object-fit: cover" src="/img/user-profile-icon.jpg">
                        }
                        <p>@Model.ToUser.UserName</p>
                        <input type="hidden" asp-for="Input.ToUserId" value="@Model.ToUser.Id">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text" asp-for="Input.Content"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" asp-page="/Index">Cancel</a>
                    <input type="hidden" asp-for="Input.FromUser" value="@Model.CurrentUser.Id" />
                    <button type="submit" class="btn btn-primary">Send message</button>
                </div>
            </form>
        </div>
    </div>
</div>
